<form #form="ngForm" (ngSubmit)="onSubmit()" class="container my-5">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" [ngClass]="{'is-valid': nome.valid, 'is-invalid': nome.invalid && nome.touched}" id="nome" name="nome" [(ngModel)]="aluno.nome" #nome="ngModel" minlength="8" required/>
        <div *ngIf="nome.touched && nome.invalid" class="invalid-feedback">
            Nome é Inválido!
        </div>
        <div *ngIf="nome.valid" class="valid-feedback">
            Tudo Certo!
        </div>
    </div>
    
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" [ngClass]="{'is-valid': email.valid, 'is-invalid': email.invalid && email.touched}" id="email" name="email" [(ngModel)]="aluno.email" #email="ngModel" required />
        <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
            Email é Inválido!
        </div>
    </div>
    
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição do aluno</label>
        <textarea class="form-control" [ngClass]="{'is-valid': desc.valid, 'is-invalid': desc.invalid && desc.touched}" id="descricao" name="descricao" rows="3" [(ngModel)]="aluno.descricao" #desc="ngModel" minlength="30" maxlength="140" required></textarea>
        <div *ngIf="desc.touched && desc.invalid" class="invalid-feedback">
            <div *ngIf="desc.errors?.['required']">Descrição obrigatória</div>
            <div *ngIf="desc.errors?.['minlength']">Tamanho mínimo de 30 caracteres</div>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="nivel" class="form-label">Nível de ensino</label>
        <select id="nivel" class="form-select" [ngClass]="{'is-valid': nivel.valid, 'is-invalid': nivel.invalid && nivel.touched}" name="nivel" [(ngModel)]="aluno.nivel" #nivel="ngModel" required>
            <option selected disabled value="">Selecione um nível</option>
            <option value="1">Ensino Fundamental I</option>
            <option value="2">Ensino Fundamental II</option>
            <option value="3">Ensino Médio</option>
        </select>
        <div *ngIf="nivel.touched && nivel.invalid" class="invalid-feedback">
            Nível é Inválido!
        </div>
    </div>
    
    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="usuario-sistema" id="usuario-sistema" [(ngModel)]="aluno.usuarioAtivo" />
            <label for="usuario-sistema" class="form-check-label">Usuário do Sistema?</label>
        </div>
    </div>
    
    <div class="mb-3" *ngIf="aluno.usuarioAtivo">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" [ngClass]="{'is-valid': senha.valid, 'is-invalid': senha.invalid && senha.touched}" id="senha" name="senha" [(ngModel)]="aluno.senha" #senha="ngModel" required/>
        <div *ngIf="senha.touched && senha.invalid" class="invalid-feedback">
            Senha é Inválida!
        </div>
    </div>
    
    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" [ngClass]="{'is-valid': cidade.valid, 'is-invalid': cidade.invalid && cidade.touched}" id="cidade" name="cidade" [(ngModel)]="aluno.endereco.cidade" #cidade="ngModel" required />
        <div *ngIf="cidade.touched && cidade.invalid" class="invalid-feedback">
            Cidade é Inválida!
        </div>
    </div>
    
    <div class="mb-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" [ngClass]="{'is-valid': estado.valid, 'is-invalid': estado.invalid && estado.touched}" id="estado" name="estado" [(ngModel)]="aluno.endereco.estado" #estado="ngModel" required minlength="2" maxlength="2" />
        <div *ngIf="estado.touched && estado.invalid" class="invalid-feedback">
            Estado é Inválido!
        </div>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>